# This GitHub Action automates the process of building Grafana plugins.
# (For more information, see
# https://github.com/grafana/plugin-actions/blob/main/build-plugin/README.md)
name: Release

on:
  push:
    tags:
      - 'v*'

permissions: read-all

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      attestations: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Plugin
        uses: grafana/plugin-actions/build-plugin@build-plugin/v1.0.2
        with:
          go-version: '1.25.5'
          node-version: '22'
          attestation: true
          use_changelog_generator: true
          token: ${{ secrets.GITHUB_TOKEN }}
